/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    scroll-behavior: smooth;;
}

/* Navbar Styles */
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Allows absolute positioning for children */
    padding: 20px 10%;
    background-color: #fff;
    border-bottom: 2px solid black;
}

.logo h1 {
    font-size: 30px;
    color: black; /* Adjust color as needed */
}

.logo h1 a {
    text-decoration: none;
    color: black;

}

.nav-links {
    list-style: none;
    display: flex; /* Aligns links horizontally */
    align-items: center; /* Center links vertically */
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #555; /* Change hover color as needed */
}

/* Contact Button Styles */
.contact-btn {
    padding: 9px 25px;
    background-color: black;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-btn:hover {
    background-color: #333;
}

.nav-links li a:hover {
    background-image: linear-gradient(to left, #007ffe5d 50%, #fff 0%);
    background-size: 200% 100%;
    background-position: -100%;
    color: black;
    transition: background-position 0.5s, color 0.9s;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Animation for nav-links */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Hamburger toggle to cross */
.hamburger.toggle .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.toggle .line:nth-child(2) {
    opacity: 0;
}

.hamburger.toggle .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Home Section Styles */
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Adjust based on your header height */
    padding: 20px;
    background: #fff; /* Light background, consider using a background image or color that fits your brand */
    color: #333; /* Adjust text color as needed */
}

.home-content h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: justify;
}

.home-content p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 600px; /* Ensures text doesn’t span too wide on larger screens */
}

.btn {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    background-color: black; /* Primary button color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #333; /* Button hover effect */
}

/* About Section Styles */
.about-section {
    background-color: #fff; /* Consider using a color that fits your site’s theme */
    padding: 50px 0;
    color: #333;
}

.about-section h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensures responsiveness */
}

.about-text p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
    max-width: 600px; /* Keeps the text from spanning too wide */
}

.about-content .btn {
    width: 100%;
    text-align: center;
}


/* Responsive Design for the About Section */
@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .about-text, .about-img {
        width: 100%;
    }

    .about-img img {
        margin: 0 auto; /* Center align image */
    }
}

/* Skills Section Styling */
.skills-section {
    background: #fff; /* or any color that fits your design */
    padding: 50px 0;
    text-align: center; /* Center-aligning the skill items */
}

.skills-section h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.skill {
    display: inline-flex; /* Aligns icon and text side by side */
    align-items: center;
    background-color: #000; /* Default black background */
    color: #fff;
    margin: 10px; /* Spacing between skill items */
    padding: 10px 20px;
    border-radius: 25px; /* Creates the pill shape */
    cursor:default;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.skill:hover {
    box-shadow: 0px 0px 50px #1572b6;
    transition: 0.8s;
}


.skill-icon {
    height: 32px; /* Fixed height for icons */
    margin-right: 10px; /* Space between icon and text */
}

.skill-name {
    font-weight: bold;
}

/* Custom colors for different skills */
.skill-html .skill-icon { background-color: #e34c26; }
.skill-css .skill-icon { background-color: #1572b6; }
/* Continue for other skills, setting the appropriate background colors */

@media screen and (max-width: 768px) {
    .skills-section {
        background: #fff; /* or any color that fits your design */
        padding: 50px 0;
        text-align: center; /* Center-aligning the skill items */
    }
    
    .skill {
        display: inline-flex; /* Aligns icon and text side by side */
        align-items: center;
        background-color: #000; /* Default black background */
        color: #fff;
        margin: 10px; /* Spacing between skill items */
        padding: 10px 20px;
        border-radius: 25px; /* Creates the pill shape */
        cursor:default;
        width: 142px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    }

    .skill-icon {
        height: 32px; /* Fixed height for icons */
        margin-right: 10px; /* Space between icon and text */
    }
    
    .skill-name {
        font-weight: bold;
        font-size: 12px;
    }
}


/* Projects Section Styling */
.projects-section {
    padding: 50px 0;
    background-color: transparent;
}

.project-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: transparent;
    border: 1px solid #0080FE;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.project-title {
    font-size: 1.25rem;
    color: #333333;
    margin-bottom: 15px;
}

.project-description {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 15px;
}

.project-thumbnail img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.project-thumbnail img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0px 0px 30px #1572b6;
}

.btn.view-project {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn.view-project:hover {
    color: #007ffec0;
    transition: 0.3s;
}

.project-tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #0080FE;
    color: #333;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 0.875rem;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .project-card {
        margin-bottom: 20px;
    }
}

.projects-section h2 {
    font-family: 'Nunito', sans-serif; 
    font-size: 2.8rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .projects-section h2 {
        align-self: center;
    }
}

/* Education Section Styling */
.education-section {
    padding: 50px 0;
}

.edu-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.education-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.education-card {
    background: transparent;
    border-top: 1px solid #0080FE;
    border-bottom: 1px solid #0080FE;
    border-right: none;
    border-left: none;
    margin: 5px;
    padding: 20px;
    text-align: center;
    cursor: default;
}

.education-badge {
    background: none;
    display: contents;
    color: black;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.education-degree {
    font-size: 1.25rem;
    color: #333;
    margin: 20px 0 10px;
}

.education-university {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

.edu-container h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.8rem;
}

.education-year {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.education-description {
    font-size: 0.9rem;
    color: #666;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .education-cards {
        grid-template-columns: 1fr;
    }
}

/* Contact Section Styling */
.contact-section {
    padding: 40px 0;
    text-align: center;
  }
  
  .contact-section h2 {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: #333;
  }
  
  .contact-section p {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
    color: #555;
  }
  
  .contact-form {
    margin-bottom: 30px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    resize: none;
  }
  
  .contact-form .submit-btn {
    background-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 1px solid #0080FE;
    padding: 10px 20px;
    font-size: 1rem;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form .submit-btn:hover {
    background-color: #0080FE;
    transition: all 0.5s ease-out;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    transition: 0.5s;
    font-size: 1.5rem; /* Adjust based on the actual icon size */
    text-decoration: none;
  }
  
  .social-icon:hover,
  .social-icon:focus {
    color: #0080FE;
    transition: all 0.5s ease-in-out;
  }
  
  /* Icon placeholder styling (replace with actual icon styles) */
  .icon-placeholder {
    display: inline-block; /* Replace with actual icons */
    width: 30px; /* Icon width */
    height: 30px; /* Icon height */
    background-color: #ddd; /* Placeholder color, remove for actual icons */
    text-align: center;
    line-height: 30px; /* Center the placeholder text vertically */
    border-radius: 50%; /* Circular placeholder */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens as needed */
  }

/* Footer Styling */
.site-footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border-top: 2px solid #000;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  
  .footer-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
  
  .footer-nav {
    display: flex;
    gap: 20px;
  }
  
  .footer-nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
    }
  
    .footer-nav {
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
    }
  }
  